<h3 align="center">Model Training for Gemstone Dataset</h3>

- Loading the necessary Libraries

- Dataset is taken from Kaggle --> [Gemstone Dataset](https://www.kaggle.com/competitions/playground-series-s3e8/data?select=train.csv)

In [18]:
# Basic Import
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt 
import seaborn as sns

# Modelling
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor,AdaBoostRegressor
from sklearn.svm import SVR
from sklearn.linear_model import LinearRegression, Ridge,Lasso
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error
from sklearn.model_selection import RandomizedSearchCV
from catboost import CatBoostRegressor
from xgboost import XGBRegressor

# transforming
from sklearn.compose import ColumnTransformer
from sklearn.impute import SimpleImputer
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import OrdinalEncoder,StandardScaler

#### Collecting Dataset

In [3]:
df = pd.read_csv('../../data/gemstone_price.csv')
df.head(3)

   id  carat        cut color clarity  depth  table     x     y     z  price
0   0   1.52    Premium     F     VS2   62.2   58.0  7.27  7.33  4.55  13619
1   1   2.03  Very Good     J     SI2   62.0   58.0  8.06  8.12  5.05  13387
2   2   0.70      Ideal     G     VS1   61.2   57.0  5.69  5.73  3.50   2772

#### Dropping id Column

In [4]:
df = df.drop(labels=['id'],axis=1)

In [5]:
df.head(2)

   carat        cut color clarity  depth  table     x     y     z  price
0   1.52    Premium     F     VS2   62.2   58.0  7.27  7.33  4.55  13619
1   2.03  Very Good     J     SI2   62.0   58.0  8.06  8.12  5.05  13387

<h3 align="center">Splitting Dataset into X and y</h3>

In [6]:
X = df.drop(labels=['price'],axis=1)
y = df[['price']]

<h3 align="center">Creating Data Transformation Pipeline</h3>

- Creating Pipeline with Column Transformer

In [7]:
# Define which columns should be ordinal-encoded and which should be scaled
categorical_cols = X.select_dtypes(include='object').columns
numerical_cols = X.select_dtypes(exclude='object').columns

In [8]:
# Define the custom ranking for each ordinal variable
cut_categories = ['Fair', 'Good', 'Very Good','Premium','Ideal']
color_categories = ['D', 'E', 'F', 'G', 'H', 'I', 'J']
clarity_categories = ['I1','SI2','SI1','VS2','VS1','VVS2','VVS1','IF']

In [10]:
# Numerical Pipeline
num_pipeline = Pipeline(
                steps = [
                    ('imputer',SimpleImputer(strategy='median')),
                    ('scaler',StandardScaler())                
                ]
            )

In [11]:
# Categorical Pipeline
cat_pipeline = Pipeline(
                steps=[
                    ('imputer',SimpleImputer(strategy='most_frequent')),
                    ('ordinal_encoder',OrdinalEncoder(categories=[cut_categories,color_categories,clarity_categories])),
                    ('scaler',StandardScaler())
                ]
            )

In [12]:
# preprocessor
preprocessor = ColumnTransformer(
                [
                    ('num_pipeline',num_pipeline,numerical_cols),
                    ('cat_pipeline',cat_pipeline,categorical_cols)
                ]
            )

<h3 align="center">Splitting Dataset into Xtrain, Xtest, ytrain, ytest</h3>

In [13]:
from sklearn.model_selection import train_test_split
Xtrain, Xtest, ytrain, ytest = train_test_split(X,y,test_size=0.2,random_state=42)

- Transforming the data with pipeline created

In [16]:
preprocessor.get_feature_names_out()

array(['num_pipeline__carat', 'num_pipeline__depth',
       'num_pipeline__table', 'num_pipeline__x', 'num_pipeline__y',
       'num_pipeline__z', 'cat_pipeline__cut', 'cat_pipeline__color',
       'cat_pipeline__clarity'], dtype=object)

In [14]:
Xtrain = pd.DataFrame(preprocessor.fit_transform(Xtrain),columns=preprocessor.get_feature_names_out())
Xtest = pd.DataFrame(preprocessor.transform(Xtest),columns=preprocessor.get_feature_names_out())

In [17]:
Xtrain.head(3)

,num_pipeline__carat,num_pipeline__depth,num_pipeline__table,num_pipeline__x,num_pipeline__y,num_pipeline__z,cat_pipeline__cut,cat_pipeline__color,cat_pipeline__clarity
0,-1.016395,-0.204317,0.402608,-1.202472,-1.187395,-1.194148,-0.132842,-0.936018,-0.648950
1,0.882396,0.720758,-0.118536,0.985177,0.941823,1.036109,-0.132842,-0.320002,0.017052
2,1.529711,0.350728,-1.160823,1.426308,1.394848,1.441611,0.872563,1.528047,0.017052

In [19]:
Xtest.head(3)

,num_pipeline__carat,num_pipeline__depth,num_pipeline__table,num_pipeline__x,num_pipeline__y,num_pipeline__z,cat_pipeline__cut,cat_pipeline__color,cat_pipeline__clarity
0,-0.628006,0.258221,-0.118536,-0.599293,-0.580341,-0.571414,0.872563,-1.552034,-0.648950
1,2.608569,-2.146973,-0.118536,2.128516,2.201232,1.962969,-1.138246,0.296015,-1.314953
2,-1.124281,-1.221899,0.923751,-1.373523,-1.413907,-1.469310,-0.132842,-0.936018,2.015061

<h3 align="center">Model Training Baseline models</h3>

- Create an Evaluate Function to give all metrics after model Training

In [22]:
# this function is used to get he evaluated metrics score
def evaluate_model(true, predicted):
    mae = mean_absolute_error(true, predicted)
    mse = mean_squared_error(true, predicted)
    rmse = np.sqrt(mse)
    r2_square = r2_score(true, predicted)
    return mae, rmse, r2_square


<h3 align="center">Training on Various models</h3>

In [23]:
models = {
    "Linear Regression": LinearRegression(),
    "Lasso": Lasso(),
    "Ridge": Ridge(),
    "K-Neighbors Regressor": KNeighborsRegressor(),
    "Decision Tree": DecisionTreeRegressor(),
    "Random Forest Regressor": RandomForestRegressor(),
    "XGBRegressor": XGBRegressor(), 
    "CatBoosting Regressor": CatBoostRegressor(verbose=False),
    "AdaBoost Regressor": AdaBoostRegressor()
}

In [28]:
# number of model used
len(models.keys())

9

In [29]:
model_list = []
r2_list =[]

for i in range(len(list(models))):
    model = list(models.values())[i]
    model.fit(Xtrain, ytrain.values.flatten()) # Train model

    # Make predictions
    y_train_pred = model.predict(Xtrain)
    y_test_pred = model.predict(Xtest)
    
    # Evaluate Train and Test dataset (passing true dataset values, predicted values)
    model_train_mae , model_train_rmse, model_train_r2 = evaluate_model(ytrain, y_train_pred)
    model_test_mae , model_test_rmse, model_test_r2 = evaluate_model(ytest, y_test_pred)
    
    print(list(models.keys())[i])
    model_list.append(list(models.keys())[i])
    
    print('Model performance for Training set')
    print("- Root Mean Squared Error: {:.4f}".format(model_train_rmse))
    print("- Mean Absolute Error: {:.4f}".format(model_train_mae))
    print("- R2 Score: {:.4f}".format(model_train_r2))

    print('----------------------------------')
    
    print('Model performance for Test set')
    print("- Root Mean Squared Error: {:.4f}".format(model_test_rmse))
    print("- Mean Absolute Error: {:.4f}".format(model_test_mae))
    print("- R2 Score: {:.4f}".format(model_test_r2))
    r2_list.append(model_test_r2)
    
    print('='*35)
    print('\n')

Linear Regression
Model performance for Training set
- Root Mean Squared Error: 1016.9490
- Mean Absolute Error: 677.1656
- R2 Score: 0.9366
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 1006.6010
- Mean Absolute Error: 671.5856
- R2 Score: 0.9373
===================================


Lasso
Model performance for Training set
- Root Mean Squared Error: 1017.0718
- Mean Absolute Error: 678.3145
- R2 Score: 0.9366
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 1006.8716
- Mean Absolute Error: 672.8635
- R2 Score: 0.9373
===================================


Ridge
Model performance for Training set
- Root Mean Squared Error: 1016.9491
- Mean Absolute Error: 677.1925
- R2 Score: 0.9366
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 1006.6062
- Mean Absolute Error: 671.6137
- R2 Score: 0.9373
===================================


K-Neighbors Regressor
Model performance for Training set
- Root Mean Squared Error: 545.6502
- Mean Absolute Error: 285.8150
- R2 Score: 0.9817
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 671.2893
- Mean Absolute Error: 349.4714
- R2 Score: 0.9721
===================================


Decision Tree
Model performance for Training set
- Root Mean Squared Error: 12.8816
- Mean Absolute Error: 0.8012
- R2 Score: 1.0000
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 833.6166
- Mean Absolute Error: 423.5851
- R2 Score: 0.9570
===================================


Random Forest Regressor
Model performance for Training set
- Root Mean Squared Error: 227.6344
- Mean Absolute Error: 115.9415
- R2 Score: 0.9968
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 607.0566
- Mean Absolute Error: 309.5361
- R2 Score: 0.9772
===================================


XGBRegressor
Model performance for Training set
- Root Mean Squared Error: 508.4624
- Mean Absolute Error: 274.4553
- R2 Score: 0.9841
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 587.6792
- Mean Absolute Error: 297.4995
- R2 Score: 0.9786
===================================


CatBoosting Regressor
Model performance for Training set
- Root Mean Squared Error: 530.6367
- Mean Absolute Error: 282.2494
- R2 Score: 0.9827
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 579.9574
- Mean Absolute Error: 295.4844
- R2 Score: 0.9792
===================================


AdaBoost Regressor
Model performance for Training set
- Root Mean Squared Error: 1456.2140
- Mean Absolute Error: 1046.0917
- R2 Score: 0.8699
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 1466.0568
- Mean Absolute Error: 1049.3167
- R2 Score: 0.8670
===================================

<h3 align="center">Trained Model name and Score Pick Best one ðŸ¥°</h3>

In [31]:
# result will show based on best models
df_results = pd.DataFrame(list(zip(model_list, r2_list)), columns=['Model Name', 'R2_Score']).sort_values(by=["R2_Score"],ascending=False,ignore_index=True)
df_results

                Model Name  R2_Score
0    CatBoosting Regressor  0.979186
1             XGBRegressor  0.978628
2  Random Forest Regressor  0.977195
3    K-Neighbors Regressor  0.972114
4            Decision Tree  0.956997
5        Linear Regression  0.937298
6                    Ridge  0.937297
7                    Lasso  0.937264
8       AdaBoost Regressor  0.866994